<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}-项目追踪</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar bg-body-tertiary mb-3">
        <div class="container-fluid">
          <!-- <span class="navbar-brand mb-0 h1">项目追踪</span> -->
          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='favicons/favicon.svg') }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            项目追踪
          </a>
          {% if current_user.is_authenticated %}
          <span class="navbar-text">
            当前用户:{{current_user.name}}
          </span>
          <form class="d-flex" role="search" action="/logout">
            <button class="btn btn-outline-success" type="submit">注销</button>
          </form>
          {% endif %}
        </div>
      </nav>
        {% block content %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
  </body>
</html>